<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= page_title %></title>
    <%= partial "_metadata" %>
    <%= partial "_favicons" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "head" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag  "body" %>
    <%= google_analytics_tag %>
  </body>
</html>
